# 🎥 Ignore all video files
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.webm
*.wmv
*.mpeg
*.mpg
*.m4v

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
myenv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python package installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm / VSCode project files
.idea/
.vscode/

# Data files (optional: exclude large datasets)
data/
data_processed/
*.npy
*.csv
*.h5
*.align
*.pth 
*.npz

# OS files
.DS_Store
Thumbs.db

# Logs
*.log